src/.vs/everything/copilot-chat/84d219c2/sessions/02d787b9-57b9-4189-88fd-98e6c5662019
src/.vs/everything/copilot-chat/84d219c2/sessions/44db7611-9575-45df-a105-b5d30b0d16de
src/.vs/everything/copilot-chat/84d219c2/sessions/5b4f0d2e-2b3d-4b28-b669-c34db30b8fa0
src/.vs/everything/copilot-chat/84d219c2/sessions/e9bc9c69-dcd9-4944-bfa2-e137109d02a8
src/.vs/everything/CopilotIndices/17.14.1679.25730/CodeChunks.db
src/.vs/everything/CopilotIndices/17.14.1679.25730/CodeChunks.db-shm
src/.vs/everything/CopilotIndices/17.14.1679.25730/CodeChunks.db-wal
src/.vs/everything/CopilotIndices/17.14.1679.25730/SemanticSymbols.db
src/.vs/everything/CopilotIndices/17.14.1679.25730/SemanticSymbols.db-shm
src/.vs/everything/CopilotIndices/17.14.1679.25730/SemanticSymbols.db-wal
src/.vs/everything/FileContentIndex/08c1f7de-7a1c-4758-a243-cba79185ae59.vsidx
src/.vs/everything/FileContentIndex/375a049f-1a7f-45a1-969c-992b13215c84.vsidx
src/.vs/everything/FileContentIndex/4aeb17b6-c30d-4018-9aa0-6f6e119ef732.vsidx
src/.vs/everything/FileContentIndex/8383d635-000f-419e-804c-a24254355830.vsidx
src/.vs/everything/FileContentIndex/f5987c31-aea1-41f3-a6ec-e6157d230c82.vsidx
src/.vs/everything/v16/.suo
src/.vs/everything/v16/Browse.VC.db
src/.vs/everything/v16/ipch/3d5e5d2512658e41.ipch
src/.vs/everything/v16/ipch/47cab9a30e08135d.ipch
src/.vs/everything/v16/ipch/63d206c5628e44a.ipch
src/.vs/everything/v16/ipch/8a9a5090aae64da7.ipch
src/.vs/everything/v16/ipch/8b2f0c9e286117de.ipch
src/.vs/everything/v16/ipch/8caa10b336725790.ipch
src/.vs/everything/v16/ipch/AutoPCH/cf060308e9b24c7/POLYHEDRON.ipch
src/.vs/everything/v16/Solution.VC.db
src/.vs/everything/v17/.suo
src/.vs/everything/v17/Browse (1).VC.db-wal
src/.vs/everything/v17/Browse.VC.db
src/.vs/everything/v17/DocumentLayout.backup.json
src/.vs/everything/v17/DocumentLayout.json
src/.vs/everything/v17/fileList.bin
src/.vs/everything/v17/HierarchyCache.v1.txt
src/.vs/everything/v17/ipch/3d5e5d2512658e41.ipch
src/.vs/everything/v17/ipch/47cab9a30e08135d.ipch
src/.vs/everything/v17/ipch/63d206c5628e44a.ipch
src/.vs/everything/v17/ipch/84227ddc441ba103.ipch
src/.vs/everything/v17/ipch/8a9a5090aae64da7.ipch
src/.vs/everything/v17/ipch/8b2f0c9e286117de.ipch
src/.vs/everything/v17/ipch/8caa10b336725790.ipch
src/.vs/everything/v17/ipch/AutoPCH/138e75a5fda9f890/INTERFACE.ipch
src/.vs/everything/v17/ipch/AutoPCH/175f81fed2cc6b46/HL1_NPC_BARNEY.ipch
src/.vs/everything/v17/ipch/AutoPCH/1afdb791c50fcb6f/FRAME.ipch
src/.vs/everything/v17/ipch/AutoPCH/2ab14b4416d7284c/BONE_SETUP.ipch
src/.vs/everything/v17/ipch/AutoPCH/2ce5f66611529209/INTERFACE.ipch
src/.vs/everything/v17/ipch/AutoPCH/2f1907b4e8545060/BUTTON.ipch
src/.vs/everything/v17/ipch/AutoPCH/34c321edbe2d5c12/OPTIONSSUBKEYBOARD.ipch
src/.vs/everything/v17/ipch/AutoPCH/37d942aae2447770/C_VEHICLE_JEEP.ipch
src/.vs/everything/v17/ipch/AutoPCH/3b95c4317b22bf9b/NPC_ZOMBIENOHEADCRAB.ipch
src/.vs/everything/v17/ipch/AutoPCH/461b327340a354a1/VCTMP7448_577795.GAMEMOVEMENT.00000000.ipch
src/.vs/everything/v17/ipch/AutoPCH/4ae5b0e531505251/HL1_GAMERULES.ipch
src/.vs/everything/v17/ipch/AutoPCH/4e317cd1878f524d/STRTOOLS.ipch
src/.vs/everything/v17/ipch/AutoPCH/56fcd0692043d85c/COMPILEDCAPTIONSWAP.ipch
src/.vs/everything/v17/ipch/AutoPCH/7024b0a4395289d6/C_VEHICLE_JEEP.ipch
src/.vs/everything/v17/ipch/AutoPCH/70ee5bc97879d665/CMODEL.ipch
src/.vs/everything/v17/ipch/AutoPCH/71fe7cf115985f3e/STUDIO.ipch
src/.vs/everything/v17/ipch/AutoPCH/73d8e1fe8783477a/CDLL_CLIENT_INT_BAK.ipch
src/.vs/everything/v17/ipch/AutoPCH/74d485f474a36ca2/NPC_ALYX_EPISODIC.ipch
src/.vs/everything/v17/ipch/AutoPCH/7c624e1bf62adf68/PANEL.ipch
src/.vs/everything/v17/ipch/AutoPCH/81bbc7eaa243122/WEAPON_ALYXGUN.ipch
src/.vs/everything/v17/ipch/AutoPCH/83debcf55784f535/WEAPON_ALYXGUN.ipch
src/.vs/everything/v17/ipch/AutoPCH/95d594b19749b91b/HL1_NPC_OSPREY.ipch
src/.vs/everything/v17/ipch/AutoPCH/987e3a0c8634c2ab/IN_MOUSE.ipch
src/.vs/everything/v17/ipch/AutoPCH/aed11e2c7253acf0/LISTPANEL.ipch
src/.vs/everything/v17/ipch/AutoPCH/b1637a3fbae0f474/HL1_WEAPON_TRIPMINE.ipch
src/.vs/everything/v17/ipch/AutoPCH/b8411be49dc0f7ec/LANGUAGE.ipch
src/.vs/everything/v17/ipch/AutoPCH/b93f164acbba2b3f/GAMEUI_INTERFACE.ipch
src/.vs/everything/v17/ipch/AutoPCH/bf4dc024d93c8f77/BUILDGROUP.ipch
src/.vs/everything/v17/ipch/AutoPCH/c1540005315d0ca6/BONE_SETUP.ipch
src/.vs/everything/v17/ipch/AutoPCH/c4da8e3be58dba68/LABEL.ipch
src/.vs/everything/v17/ipch/AutoPCH/cbcebbe958e73e3/WEAPON_AWP.ipch
src/.vs/everything/v17/ipch/AutoPCH/cf57e3d8bc63dd39/KEYS.ipch
src/.vs/everything/v17/ipch/AutoPCH/d3bf66f3300eb6df/HL1MP_WEAPON_357.ipch
src/.vs/everything/v17/ipch/AutoPCH/d55cecb02cd7af5d/HUD_LCD.ipch
src/.vs/everything/v17/ipch/AutoPCH/dad09d652c453e75/VCONTROLSLISTPANEL.ipch
src/.vs/everything/v17/ipch/AutoPCH/de609e0ad5400134/STUDIO.ipch
src/.vs/everything/v17/ipch/AutoPCH/dfa18cc025f32712/DOORS.ipch
src/.vs/everything/v17/ipch/AutoPCH/ea0316d292fbf26c/TIER1.ipch
src/.vs/everything/v17/ipch/AutoPCH/fabacd84ad14a6b2/KEYTOGGLECHECKBUTTON.ipch
src/.vs/everything/v17/ipch/AutoPCH/fac1df0c1cd70b66/COMPILEDCAPTIONSWAP.ipch
src/.vs/everything/v17/ipch/AutoPCH/fd892426f679349c/NPC_ALYX_EPISODIC.ipch
src/.vs/everything/v17/ipch/b940ead5f435ae6b.ipch
src/.vs/everything/v17/ipch/e096a1c7a7bd27b6.ipch
src/.vs/everything/v17/Solution.VC.db
src/.vs/everything/v18/.suo
src/.vs/everything/v18/Browse.VC.db
src/.vs/everything/v18/DocumentLayout.backup.json
src/.vs/everything/v18/DocumentLayout.json
src/.vs/everything/v18/fileList.bin
src/.vs/everything/v18/HierarchyCache.v1.txt
src/.vs/everything/v18/ipch/92fc882f6e42ad48.ipch
src/.vs/everything/v18/Solution.VC.db
src/.vs/games/FileContentIndex/17c2fdba-63d3-4550-b7b5-6d1c5e5cf67f.vsidx
src/.vs/games/FileContentIndex/bee7f6ef-a00c-4b7c-ada5-1244c30d3457.vsidx
src/.vs/games/v16/.suo
src/.vs/games/v16/Browse.VC.db
src/.vs/games/v16/Solution.VC.db
src/.vs/games/v17/.suo
src/.vs/games/v17/Browse.VC.db
src/.vs/games/v17/fileList.bin
src/.vs/games/v17/HierarchyCache.v1.txt
src/.vs/games/v17/ipch/3d5e5d2512658e41.ipch
src/.vs/games/v17/Solution.VC.db
/src/.vs
*.obj
*.tlog
src/materialsystem/stdshaders/Release_dx9_mod_hl2/Shaders (HL2).tlog/Shaders (HL2).write.1u.tlog
src/materialsystem/stdshaders/Release_dx9_mod_hl2/Shaders (HL2).tlog/custombuild.write.1.tlog
src/materialsystem/stdshaders/Release_dx9_mod_hl2/Shaders (HL2).tlog/custombuild.read.1.tlog
src/game/server/Release_mod_episodic/Server (.7855B476.tlog/Server (Episodic).write.1u.tlog
src/game/client/Release_mod_episodic/Client (.353A799F.tlog/Client (Episodic).write.1u.tlog
src/materialsystem/stdshaders/Release_dx9_mod_hl2/Shaders (HL2).tlog/link.write.1.tlog
src/materialsystem/stdshaders/Release_dx9_mod_hl2/Shaders (HL2).tlog/cl.command.1.tlog
src/materialsystem/stdshaders/Release_dx9_mod_hl2/Shaders (HL2).tlog/link.read.1.tlog
src/materialsystem/stdshaders/Release_dx9_mod_hl2/Shaders (HL2).tlog/cl.write.1.tlog
src/materialsystem/stdshaders/Release_dx9_mod_hl2/Shaders (HL2).tlog/CL.read.1.tlog
src/game/server/Release_mod_episodic/Server (.7855B476.tlog/cl.command.1.tlog
src/game/server/Release_mod_episodic/Server (.7855B476.tlog/CL.write.1.tlog
src/game/server/Release_mod_episodic/Server (.7855B476.tlog/CL.read.20.tlog
src/game/server/Release_mod_episodic/Server (.7855B476.tlog/CL.read.19.tlog
src/game/server/Release_mod_episodic/Server (.7855B476.tlog/CL.read.18.tlog
src/game/server/Release_mod_episodic/Server (.7855B476.tlog/CL.read.17.tlog
src/game/server/Release_mod_episodic/Server (.7855B476.tlog/CL.read.16.tlog
src/game/server/Release_mod_episodic/Server (.7855B476.tlog/CL.read.15.tlog
src/game/server/Release_mod_episodic/Server (.7855B476.tlog/CL.read.14.tlog
src/game/server/Release_mod_episodic/Server (.7855B476.tlog/CL.read.13.tlog
src/game/server/Release_mod_episodic/Server (.7855B476.tlog/CL.read.12.tlog
src/game/server/Release_mod_episodic/Server (.7855B476.tlog/CL.read.11.tlog
src/game/server/Release_mod_episodic/Server (.7855B476.tlog/CL.read.10.tlog
src/game/client/Release_mod_episodic/Client (.353A799F.tlog/CL.write.1.tlog
src/game/client/Release_mod_episodic/Client (.353A799F.tlog/CL.read.20.tlog
src/game/client/Release_mod_episodic/Client (.353A799F.tlog/CL.read.19.tlog
src/game/client/Release_mod_episodic/Client (.353A799F.tlog/CL.read.18.tlog
src/game/client/Release_mod_episodic/Client (.353A799F.tlog/CL.read.17.tlog
src/game/client/Release_mod_episodic/Client (.353A799F.tlog/CL.read.16.tlog
src/game/client/Release_mod_episodic/Client (.353A799F.tlog/CL.read.15.tlog
src/game/client/Release_mod_episodic/Client (.353A799F.tlog/CL.read.14.tlog
src/game/client/Release_mod_episodic/Client (.353A799F.tlog/CL.read.13.tlog
src/game/client/Release_mod_episodic/Client (.353A799F.tlog/CL.read.12.tlog
src/game/client/Release_mod_episodic/Client (.353A799F.tlog/CL.read.11.tlog
src/game/client/Release_mod_episodic/Client (.353A799F.tlog/CL.read.10.tlog
src/game/server/Release_mod_episodic/Server (.7855B476.tlog/CL.read.9.tlog
src/game/server/Release_mod_episodic/Server (.7855B476.tlog/CL.read.8.tlog
src/game/server/Release_mod_episodic/Server (.7855B476.tlog/CL.read.7.tlog
src/game/server/Release_mod_episodic/Server (.7855B476.tlog/CL.read.6.tlog
src/game/server/Release_mod_episodic/Server (.7855B476.tlog/CL.read.5.tlog
src/game/server/Release_mod_episodic/Server (.7855B476.tlog/CL.read.4.tlog
src/game/server/Release_mod_episodic/Server (.7855B476.tlog/CL.read.3.tlog
src/game/server/Release_mod_episodic/Server (.7855B476.tlog/CL.read.2.tlog
src/game/server/Release_mod_episodic/Server (.7855B476.tlog/CL.read.1.tlog
src/game/client/Release_mod_episodic/Client (.353A799F.tlog/CL.read.9.tlog
src/game/client/Release_mod_episodic/Client (.353A799F.tlog/CL.read.8.tlog
src/game/client/Release_mod_episodic/Client (.353A799F.tlog/CL.read.7.tlog
src/game/client/Release_mod_episodic/Client (.353A799F.tlog/CL.read.6.tlog
src/game/client/Release_mod_episodic/Client (.353A799F.tlog/CL.read.5.tlog
src/game/client/Release_mod_episodic/Client (.353A799F.tlog/CL.read.4.tlog
src/game/client/Release_mod_episodic/Client (.353A799F.tlog/CL.read.3.tlog
src/game/client/Release_mod_episodic/Client (.353A799F.tlog/CL.read.2.tlog
src/game/client/Release_mod_episodic/Client (.353A799F.tlog/CL.read.1.tlog
